// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show_wrapper {
  /*border: solid 1px black;*/
  width: 50%;
  margin: 0 auto;
}

.user {
  border: solid 1px black;
}

.user_text {
  margin-bottom: 10px;
}