<!DOCTYPE html>
<html>
<head>
  <title>BullationBoard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
        <div class="show_wrapper">
                <h2>calling original template</h2>
<%= yield %>
  </div>
</body>
</html>
